<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository/>
  <interactiveMode/>
  <usePluginRegistry/>
  <offline/>
  <pluginGroups/>
  <servers>
    <server>
      <id>wolf480pl-snapshots</id>
      <username>${env.NEXUS_DEPLOY_USERNAME}</username>
      <password>${env.NEXUS_DEPLOY_PASSWORD}</password>
    </server>
  </servers>
  <mirrors/>
  <proxies/>
  <profiles>
    <profile>
      <id>run-its</id>
      <activation>
        <property>
          <name>env.TRAVIS_BRANCH</name>
          <value>master</value>
        </property>
      </activation>
    </profile>
  </profiles>
  <activeProfiles/>
</settings>
